* {
    font-family: sans-serif, "Helvetica Neue", "Luicida Grande", Arial;
    text-align: center;
}

.header {
    color: green;
    background-color: rgb(250, 204, 212);
}

.small-header {
    color: rgb(248, 160, 175);
    background-color: beige
}

.ul-ol {
    list-style-position: outside; 
    margin-inline: 700px;  
}

.serve {
    font-weight: bold;
}