img {
    width: 300px; height: auto;
}

* {
    font-family: sans-serif, "Helvetica Neue", "Luicida Grande", Arial;
    background-color: antiquewhite;
}

.header {
    font-size: 35px;
    border-style: solid;
    text-align: center;
}

.lasagna-link {
    color: darkorange
}

.jalapeno-link {
    color: green;
}

.chicken-link {
    color: rgb(182, 10, 10);
}

.food {
    font-style: italic;
    display: block;
    font-weight: bold;
    text-align: center;
}

.pictures {
    margin-left: 20em;
}
